h1{
	text-align: center;
}
p{
	text-align: justify;
	margin-left: 20%;
	margin-right: 20%;
}
h3{
	text-align: center;
	margin: 4px;
}
div{
    margin-left: 25%;
    margin-right: 25%;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    font-size: 15px;
    padding-bottom: 5px;
    border: 1px solid black;
